# secrets and environments
.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
.Renviron

# derived files
*.html
!graphical_cv.html
!style/footer.html
!style/header.html
!style/logo.html
!style/body.html
docs/